body {
    background-color: #f1f1f1 !important;
}

hr {
    border-top: 1px dashed #ccc !important;
}

label {
    color: #444;
}

.navbar-brand {
    color: #ffffff !important;
}

.page-header {
    letter-spacing: -1px;
    font-weight: 600;
    color: #444;
    font-size: 21px;
    margin: 30px 0 10px;
    border-bottom: 1px dashed #ccc;
}

.collection-header {
    margin: 10px 0 10px;
    border-bottom: 1px dashed #ccc;
}

.collection-header h2 {
    font-weight: 600;
    color: #444;
    font-size: 21px;
}

.collection-header p {
    font-size: 18px;
}

.archive-date {
    letter-spacing: -1px;
    font-weight: 600;
    color: #444;
    font-size: 21px;
    margin: 20px -14px 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 9px;
}

.util-list {
    position: absolute;
    right: 50px;
    top: 75px;
}

.util-list a {
    color: #444444;
}

@media (max-width: 768px) {
    .util-list {
        top: 135px;
    }
}

.sidebar-collapse {
    font-size: 16px;
}

.up-vote {
    color: #777;
    font-size: 19px;
    font-weight: bold;
    max-width: 48px;
}

.up-vote a {
    color: #777;
    font-size: 19px;
    font-weight: bold;
}

.up-vote-icon:hover {
    color: #e74c3c;
    transition: color .15s linear;
}

.up-vote-icon:hover a {
    color: #e74c3c;
    transition: color .15s linear;
}

.comment-vote {
    color: #777;
}

.comment-vote a {
    color: #777;
    text-decoration: none;
}

.comment-voted {
    color: #e74c3c !important;
}

.post-fix {
    border-bottom: none !important;
}

.post-item {
    position: relative;
    border-bottom: 1px solid #eaecee;
    padding-bottom: 14px;
    margin-top: 18px;
    margin-bottom: 4px;
}

.post-item .post-title {
    color: #444;
    margin-top: 0px;
}

.post-item .post-title a {
    color: #444;
}

.post-item .post-title a:visited {
    color: #e74c3c;
}

.post-item .post-title {
    font-size: 21px;
}

.post-item .flag {
    color: #929292;
}

.post-item:last-of-type {
    border-bottom: none;
}

.post-question {
    border-left: 2px solid #CCC;
}

footer {
    background: #ffffff;
    padding-bottom: 20px;
    margin-top: 30px;
}

.flash_message {
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 10000;
    border: none;
    border-radius: 0;
}

.commentReplyBox {
    display: none;
}

.comments-block .comment-time {
    font-size: 12px;
}

.closebutton {
    cursor: pointer;
}

.replybutton {
    cursor: pointer;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #ffffff;
    background: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: transparent;
}

.user-links-navbar a {
    color: white;
}

.voted {
    color: #e74c3c;
}

/* social share buttons */
/**/
/* Button styles: */
i.fb,
span.fb {
    color: #3b5998;
}

i.tw,
span.tw {
    color: #00aced;
}

i.google,
span.google {
    color: #dd4b39;
}

i.linkin,
span.linkin {
    color: #007bb6;
}

i.vk,
span.vk {
    color: #45668e;
}

i.pinterest,
span.pinterest {
    color: #cb2027;
}

i.surfingbird {
    max-height: 12px;
    min-width: 25%;
}

i.surfingbird::before {
    content: url(http://bootstrap-ru.com/cdn/i/surf.png);
    position: relative;
    left: 0px;
    top: -7px;
    float: left;
}

.google-plus-one {
    overflow: hidden;
    position: relative;
}

.google-plus-one i {
    position: absolute;
    left: -4px;
    bottom: -5px;
}

.google-plus-one span {
    font-size: 16px;
    font-weight: 900;
    line-height: 10px;
    margin-left: 15px;
}

.btn-sm.google-plus-one span {
    font-size: 14px;
}

.btn-sm.google-plus-one i {
    bottom: -3px;
}

.btn-lg.google-plus-one span {
    font-size: 20px;
    margin-left: 18px;
}

.btn-lg.google-plus-one i {
    bottom: -5px;
}

.btn-xs.google-plus-one span {
    font-size: 12px;
}

.btn-xs.google-plus-one i {
    bottom: -7px;
}

.user-profile-picture {
    margin-right: 15px;
}

.user-social a {
    color: #333;
}

.flag {
    color: #929292;
}

@media (max-width: 1240px) {
    .img-embed {
        width: 100%;
    }
}

.related-post h2.post-title {
    font-size: 18px;
}

.related-post p {
    font-size: 12px;
}

.related-post .up-vote {
    font-size: 16px;
}

.related-post .up-vote a {
    font-size: 16px;
}

.related-post .list-inline {
    font-size: 12px;
}

.related-post .up-vote {
    max-width: 42px;
}

.related-post img.img-circle {
    max-width: 50px;
}

.f18 {
    font-size: 18px;
}