/* -----------------------------------------
	Table of Contents
--------------------------------------------

.. 1.0 - General
..		1.1 - Sass Variables
..		1.2 - Font Icons
..		1.3 - Global
.. 2.0 - Navigation
.. 3.0 - Header
.. 		3.1 - Top Head
.. 		3.2 - Main Header
.. 		3.3 - Sub Header
.. 		3.4.1 - Module: Dropdown
.. 		3.4.2 - Module: Buttons
.. 		3.5 - Page dependent rewrites
.. 4.0 - Modules
.. 		4.1 - Forms
.. 		4.2 - Related Posts
.. 		4.3 - Archives
.. 		4.4 - Comments
.. 5.0 - Mobile
.. 6.0 - Mediaqueries
*/
/* -----------------------------------------
	1.0 - General 
----------------------------------------- */
/* 
	1.1 - Sass Variables 
----------------------------------------- */
/* blue */
/* {Yello} - buttons  */
/* sub-header, post-author, related posts etc */
/* 
    1.2 - Font Icons 
----------------------------------------- */
@font-face {
  font-family: 'font-icons';
  src: url("../fonts/font-icons.eot?3jfru0");
  src: url("../fonts/font-icons.eot?3jfru0#iefix") format("embedded-opentype"), url("../fonts/font-icons.ttf?3jfru0") format("truetype"), url("../fonts/font-icons.woff?3jfru0") format("woff"), url("../fonts/font-icons.svg?3jfru0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'font-icons' !important;
  speak: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-dot:before {
  content: "\e901"; }

.icon-archive:before {
  content: "\1f304"; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-arrow-up2:before {
  content: "\62"; }

.icon-arrow-left:before {
  content: "\e902"; }

.icon-arrow-right:before {
  content: "\e903"; }

.icon-arrow-up:before {
  content: "\e904"; }

.icon-close:before {
  content: "\e905"; }

.icon-collections:before {
  content: "\e906"; }

.icon-comments:before {
  content: "\e907"; }

.icon-featured:before {
  content: "\e908"; }

.icon-flag:before {
  content: "\e909"; }

.icon-follow:before {
  content: "\e90a"; }

.icon-latest:before {
  content: "\e90b"; }

.icon-new-post:before {
  content: "\e90c"; }

.icon-news:before {
  content: "\e90d"; }

.icon-questions:before {
  content: "\e90e"; }

.icon-save:before {
  content: "\e90f"; }

.icon-search:before {
  content: "\e910"; }

.icon-share:before {
  content: "\e911"; }

.icon-trending:before {
  content: "\e912"; }

.icon-view:before {
  content: "\e913"; }

/* 
    1.3 - Global 
----------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  font-weight: 400; }

a:hover, a:focus, a:active {
  text-decoration: none !important; }

abbr {
  border: none !important;
  cursor: auto !important;
}

.alert {
  position: fixed;
  z-index: 1001;
  width: 100%;
  top: 0;
}

.icon {
  margin-right: 8px; }

.primary-button {
  background: #FFF000;
  color: #5C478F;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  border-bottom: 1px solid #5C478F;
  min-width: 160px;
  padding: 0 20px;
  text-align: center;
  display: inline-block;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: 2px solid #FFF000;
  border-left: 2px solid #FFF000;
  margin: 25px;
  border-top: none;
  outline: none; }

.follow-button {
  min-width: 105px;
  opacity: .9;
  background: #f5f5f5;
  text-align: center;
  line-height: 40px;
  font-size: 11px;
  display: inline-block;
  color: #5C478F; }
  .follow-button .icon {
    font-size: 14px; }
    .follow-button .icon:before {
      line-height: 40px;
      display: inline-block;
      vertical-align: middle; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.site-content {
  margin-left: 228px;
  padding-bottom: 40px;
  position: relative; }
  .site-content .page-content {
    padding-top: 25px; }
  .site-content .post-contents {
    margin: 20px 0;
    font-weight: normal; }
    .site-content .post-contents p {
      font-size: 15px;
      line-height: 25px;
      color: #555; }

.left-bar .navigation ul li a,
.article-post .post-link {
  transition: all .3s ease-in-out; }

.left-bar .navigation ul li a:hover,
.article-post .post-link:hover,
.article-post .up-count {
  transition: all .3s ease-in-out; }

/* -----------------------------------------
	2.0 - Navigation
----------------------------------------- */
.left-bar {
  position: relative;
  width: 228px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  background: #211933; }
  .left-bar .branding a {
    padding: 10px 40px;
    display: block; }
  .left-bar .navigation ul li {
    font-size: 13px; }
    .left-bar .navigation ul li:nth-child(-n+3) {
      background: #291F42; }
    .left-bar .navigation ul li a {
      padding: 12px 40px;
      line-height: 20px;
      color: #A6A1B3; }
      .left-bar .navigation ul li a .icon {
        font-size: 18px;
        position: relative;
        top: 3px; }
      .left-bar .navigation ul li a:hover, .left-bar .navigation ul li a:focus, .left-bar .navigation ul li a.active {
        background: #5C478F;
        color: #fff;
        outline: none; }
    .left-bar .navigation ul li .icon {
      margin: 0 10px 0 0; }

.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .site-footer .social-wrapper {
    display: table;
    width: 100%;
    padding: 20px 40px; }
  .site-footer .social-profiles {
    padding: 0 40px;
    display: table-row;
    margin: 0; }
    .site-footer .social-profiles li {
      display: table-cell;
      text-align: center; }
      .site-footer .social-profiles li:first-child {
        text-align: left; }
      .site-footer .social-profiles li:last-child {
        text-align: right; }
  .site-footer .site-links {
    padding: 10px 40px 0;
    margin: 0 0 -9px 0;
    text-align: justify;
    background: #291F42; }
    .site-footer .site-links::after {
      display: inline-block;
      content: "\00a0";
      width: 100%;
      height: 15px;
      overflow: hidden;
      line-height: 15px; }
    .site-footer .site-links li {
      list-style-type: none;
      display: inline;
      line-height: 16px; }
      .site-footer .site-links li a {
        display: inline-block;
        font-size: 10px;
        color: #5C478F; }

/* -----------------------------------------
	3.0 - Header
----------------------------------------- */
/* 
    3.1 - Top Head (Search and links)
----------------------------------------- */
.top-bar {
  line-height: 49px;
  height: 49px;
  font-size: 14px; }
  .top-bar .search-form .search-form-input {
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
    line-height: 49px;
    margin: 0 0 0 14px;
    width: 80%;
    color: #B3B3B3;
    padding: 0 8px;
    font-size: 13px;
    font-weight: normal; }
  .top-bar .search-form .search-icon {
    margin: 0;
    background: url(../images/svg/search.svg) no-repeat left center; }
  .top-bar .top-nav {
    padding-right: 0;
    text-align: right;
    font-size: 13px; }
    .top-bar .top-nav a {
      display: inline-block;
      color: #5C478F;
      padding: 0 14px; }
      .top-bar .top-nav a:hover {
        text-decoration: none; }
      .top-bar .top-nav a.new-post-link {
        padding: 0 20px;
        background: #FFF000; }
  .top-bar .account-info {
    display: inline-block; }
    .top-bar .account-info .dropdown.list-dropdown .dropdown-toggle {
      padding: 16px 13px 15px 21px;
      margin-right: -2px; }
    .top-bar .account-info .dropdown.list-dropdown .dropdown-menu {
      top: 48px; }
      .top-bar .account-info .dropdown.list-dropdown .dropdown-menu li a {
        display: block; }

/* 
    3.2 - Main Header (Page Headings)
----------------------------------------- */
.site-header {
  padding: 15px;
  position: relative;
  border-bottom: 1px solid #F5F5F5; }
  .site-header .back-button {
    color: #fff;
    font-size: 14px; }
    .site-header .back-button .icon {
      font-size: 10px; }
  .site-header .header-right {
    text-align: right;
    position: static; }
  .site-header .page-title h1 {
    text-transform: uppercase;
    text-align: center;
    color: #A6A1B3;
    font-size: 28px;
    font-weight: normal;
    margin: 9px 0; }

.site-content.login .site-header .back-button,
.site-content.policy .site-header .back-button,
.site-content.collections .site-header .back-button {
  color: #A6A1B3;
}

/* 
    3.3 - Sub Header
----------------------------------------- */
.sub-header {
  background: #F5F5F5;
  line-height: 45px;
  color: #5C478F;
  font-size: 17px; }
  .sub-header .sub-content {
    display: table;
    position: relative; }
    .sub-header .sub-content .sub-head-actions {
      position: absolute;
      top: 0;
      right: 15px; }
      .sub-header .sub-content .sub-head-actions a {
        font-size: 8px;
        color: #fff;
        background: #7B728F;
        display: block;
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 8px 0;
        line-height: 8px; }
        .sub-header .sub-content .sub-head-actions a .icon {
          font-size: 20px;
          margin-right: 0;
          display: block; }
    .sub-header .sub-content .post-meta {
      display: table-cell;
      font-size: 13px;
      vertical-align: top;
      line-height: 40px;
      padding-top: 4px; }
      .sub-header .sub-content .post-meta .post-ref {
        color: #5C478F; }
        .sub-header .sub-content .post-meta .post-ref .icon {
          margin-right: 4px;
          font-size: 10px; }
        .sub-header .sub-content .post-meta .post-ref a {
          color: #5C478F; }
      .sub-header .sub-content .post-meta .dot-sap {
        font-size: 5px;
        color: #A6A1B3; }
        .sub-header .sub-content .post-meta .dot-sap .icon {
          margin-right: 0; }
      .sub-header .sub-content .post-meta .post-tags {
        color: #A6A1B3;
        margin-right: 3px; }
        .sub-header .sub-content .post-meta .post-tags a {
          color: #A6A1B3;
          margin-right: 3px; }
      .sub-header .sub-content .post-meta span {
        margin-right: 3px; }
    .sub-header .sub-content .post-stats {
      display: table-cell;
      vertical-align: top;
      margin: 0;
      padding: 0;
      text-align: right; }
      .sub-header .sub-content .post-stats li {
        list-style-type: none;
        display: inline-block;
        margin: 4px 0;
        padding: 0 8px;
        border-left: 1px solid #E0E0E0; }
        .sub-header .sub-content .post-stats li:last-child {
          border-right: 1px solid #E0E0E0; }
        .sub-header .sub-content .post-stats li .stat {
          line-height: 32px;
          display: block;
          font-size: 12px;
          color: #A6A1B3; }
          .sub-header .sub-content .post-stats li .stat .icon {
            margin-right: 0;
            display: inline-block;
            vertical-align: top;
            font-size: 23px; }
            .sub-header .sub-content .post-stats li .stat .icon.icon-view {
              font-size: 20px; }
            .sub-header .sub-content .post-stats li .stat .icon:before {
              line-height: 32px; }
            .sub-header .sub-content .post-stats li .stat .icon.icon-flag {
              font-size: 13px;
              padding: 0px 5px; }
          .sub-header .sub-content .post-stats li .stat span {
            line-height: 32px;
            display: inline-block;
            vertical-align: top; }
  .sub-header a {
    color: #A6A1B3; }
    .sub-header a:hover, .sub-header a.active {
      color: #5C478F; }
  .sub-header .tabs-lists {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .sub-header .tabs-lists li {
      padding-right: 20px;
      list-style-type: none;
      display: inline-block; }
  .sub-header .link-list {
    list-style-type: none;
    margin: 0;
    padding: 4px 0;
    display: table;
    width: 100%; }
    .sub-header .link-list li {
      padding-right: 20px;
      list-style-type: none;
      text-align: center;
      display: table-cell;
      line-height: 32px;
      font-weight: normal;
      border-left: 1px solid #E0E0E0; }
      .sub-header .link-list li:last-child {
        border-right: 1px solid #E0E0E0; }
      .sub-header .link-list li a {
        display: block; }

/* 
    3.4.1 - Module: Dropdown
----------------------------------------- */
.dropdown.list-dropdown {
  display: inline-block; }
  .dropdown.list-dropdown .dropdown-toggle {
    font-size: 14px;
    border: none;
    border-radius: 0;
    color: #7B728F;
    padding: 14px 3px 13px 21px;
    background: transparent;
    outline: none; }
    .dropdown.list-dropdown .dropdown-toggle:hover, .dropdown.list-dropdown .dropdown-toggle:active, .dropdown.list-dropdown .dropdown-toggle:focus {
      background: transparent;
      box-shadow: none; }
    .dropdown.list-dropdown .dropdown-toggle .icon {
      font-size: 7px;
      margin: 0 7px;
      color: #A6A1B3; }
  .dropdown.list-dropdown.open .dropdown-toggle {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.175);
    color: #A6A1B3; }
    .dropdown.list-dropdown.open .dropdown-toggle .icon-arrow-down:before {
      content: "\62"; }
  .dropdown.list-dropdown .dropdown-menu {
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.175);
    top: 47px;
    margin: 0;
    border-radius: 0;
    color: #5C478F;
    font-size: 13px;
    padding: 0;
    min-width: 165px; }
    .dropdown.list-dropdown .dropdown-menu li a {
      color: #5C478F;
      padding: 8px 20px; }
      .dropdown.list-dropdown .dropdown-menu li a:hover {
        color: #fff;
        background: #5C478F; }

/* 
    3.4.2 - Module: Buttons on right 
            [Up, Add Share, Cancel, Save]
----------------------------------------- */
.header-right-actions {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 25%;
  text-align: center; }
  .header-right-actions li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px; }
    .header-right-actions li a {
      font-size: 11px;
      color: #5C478F;
      background: #fff;
      display: block;
      width: 45px;
      height: 45px;
      text-align: center;
      padding: 5px 0;
      line-height: 16px; }
      .header-right-actions li a:hover {
        background-color: #5C478F;
        color: #fff; }
      .header-right-actions li a .icon {
        font-size: 20px;
        margin-right: 0;
        display: block; }
        .header-right-actions li a .icon.icon-close {
          font-size: 10px;
          margin: 4px 0 5px; }
        .header-right-actions li a .icon.icon-save {
          font-size: 14px;
          margin: 3px 0 3px; }

/* 
    3.5 - Header: Page dependent rewrites 
        [archive, post-view, form-page, user-view]
----------------------------------------- */
.archives .site-header {
  border-top: 1px solid #F5F5F5; }
  .archives .site-header .header-left {
    padding: 0; }

.archives .sub-header .sub-content {
  padding-left: 77px; }

.post-view .site-header {
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .post-view .site-header .container-fluid {
    padding: 15px 30px;
    background: transparent;
    background: rgba(33, 25, 51, 0.5);
    min-height: 200px; }

.post-view .page-title .post-meta {
  font-size: 13px;
  margin-top: 43px;
  color: #f5f5f5; }
  .post-view .page-title .post-meta span {
    margin-right: 2px; }
  .post-view .page-title .post-meta .icon {
    margin-right: 0;
    font-size: 7px;
    color: #A6A1B3; }
  .post-view .page-title .post-meta .shared {
    color: #A6A1B3; }

.post-view .page-title h1 {
  color: #fff;
  margin: 10px 0 10px;
  text-align: left;
  text-transform: initial;
  font-weight: 500; }

.form-page .site-header .back-button {
  color: #291F42; }

.user-view .site-header {
  background-color: #211933; }

.user-view .user-profile {
  margin: 25px 0 26px; }

.user-view .follow-user {
  position: absolute;
  top: 48px;
  right: 15px; }

.user-view .user-image {
  float: left;
  width: 96px;
  position: relative; }
  .user-view .user-image .user-followings {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #fff;
    top: 47px;
    right: 18px;
    line-height: 31px;
    text-align: center;
    font-size: 11px;
    color: #211933; }
  .user-view .user-image img {
    width: 78px;
    height: 78px;
    border-radius: 78px;
    border: 2px solid #F5F5F5; }

.user-view .user-info {
  padding: 0 125px 0 96px; }
  .user-view .user-info h1 {
    color: #fff;
    margin: 5px 0 5px;
    text-align: left;
    text-transform: initial;
    font-weight: 500; }
  .user-view .user-info .user-meta {
    font-size: 11px;
    font-weight: normal; }
    .user-view .user-info .user-meta .user-followed-by {
      color: #fff; }
    .user-view .user-info .user-meta .user-following {
      color: #A6A1B3; }
    .user-view .user-info .user-meta .dot-sap .icon {
      color: #A6A1B3;
      font-size: 8px;
      margin: 0 7px; }

.user-view .header-right-actions li a {
  background: transparent;
  color: #fff;
  border: 1px solid #7B728F; }
  .user-view .header-right-actions li a.save-icon {
    background: #7B728F; }

/* -----------------------------------------
	04. Modules
----------------------------------------- */
/* 
    4.1 - Forms
----------------------------------------- */
.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="url"],
.default-form textarea,
.default-form select  {
  display: block;
  width: 100%;
  padding: 8px 10px;
  line-height: 20px;
  border: 2px solid #A6A1B3;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal; }

.default-form label {
  font-weight: bold;
  font-size: 8px;
  text-transform: uppercase;
  margin: 0 0 7px; }

.default-form input[type=submit] {
  background: #F5F5F5;
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #A6A1B3;
  line-height: 40px;
  text-align: center;
  padding: 0 20px;
  border: none;
  outline: none;
  min-width: 160px; }

.default-form .submit-row {
  margin: 40px 0; }
  .default-form .submit-row.row {
    margin: 40px -15px; }
  .default-form .submit-row p {
    margin-bottom: 0; }
  .default-form .submit-row a {
    font-size: 11px;
    color: #5C478F; }

.default-form .form-notes {
  color: #A6A1B3;
  font-size: 8px; }
  .default-form .form-notes a {
    color: #5C478F; }

/* 
    4.2 - Related Posts
----------------------------------------- */
.related-posts {
  background: #F5F5F5;
  padding: 15px 15px 35px; }
  .related-posts h3 {
    font-size: 16px;
    color: #5C478F;
    text-align: center;
    padding-right: 12px;
    margin: 5px 0 10px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px; }

.related-posts-list {
  margin: 0;
  padding: 0; }
  .related-posts-list li {
    list-style-type: none;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin: 12px 0; }
    .related-posts-list li .user-image {
      float: left;
      width: 55px; }
      .related-posts-list li .user-image img {
        width: 45px;
        height: 45px;
        border-radius: 40px;
        border: 2px solid #fbfbfb; }
    .related-posts-list li .post-info {
      padding: 0 20px 0 55px;
      line-height: 20px; }
      .related-posts-list li .post-info .post-author {
        font-size: 11px;
        color: #A6A1B3; }
      .related-posts-list li .post-info h4 {
        font-weight: normal;
        font-size: 15px;
        color: #211933;
        margin: 0; }
    .related-posts-list li a:hover .post-info h4 {
      color: #5C478F; }

.user-activity-tabs ul {
  margin: 10px 0 35px 63px;
  padding: 0; }
  .user-activity-tabs ul li {
    display: inline-block;
    list-style-type: none;
    color: #A6A1B3;
    font-weight: normal;
    position: relative;
    margin-right: 15px; }
    .user-activity-tabs ul li a {
      font-size: 14px;
      color: #A6A1B3; }
      .user-activity-tabs ul li a.active, .user-activity-tabs ul li a:hover {
        color: #5C478F; }
      .user-activity-tabs ul li a .activity-count {
        font-size: 8px; }

/* 
    4.3 - Archives
----------------------------------------- */
.archive-heading {
  font-size: 14px;
  color: #A6A1B3;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0 0 63px;
  line-height: 24px; }

.articles-list .article-post .post-link {
  display: table;
  width: 100%;
  outline: none; }
  .articles-list .article-post .post-link > div {
    display: table-cell;
    vertical-align: top;
    padding: 10px 0; }
  .articles-list .article-post .post-link:hover, .articles-list .article-post .post-link:focus, .articles-list .article-post .post-link:active {
    background: #F5F5F5;
    text-decoration: none; }
    .articles-list .article-post .post-link:hover .up-count, .articles-list .article-post .post-link:focus .up-count, .articles-list .article-post .post-link:active .up-count {
      background: #5C478F;
      color: #fff; }

.articles-list .article-post .up-count {
  text-align: center;
  width: 54px;
  color: #5C478F;
  font-size: 13px;
  padding-top: 20px !important; }
  .articles-list .article-post .up-count .icon {
    display: block;
    margin: 5px 0 2px;
    font-size: 14px; }

.articles-list .article-post .post-info .post-info-wrapper {
  border-left: 1px solid #EBEBEB;
  padding-left: 14px !important; }

.articles-list .article-post .post-info cite {
  font-size: 11px;
  font-style: normal;
  display: block;
  color: #A6A1B3; }

.articles-list .article-post .post-info h3 {
  line-height: 28px;
  color: #211933;
  font-size: 18px;
  font-weight: normal;
  margin: 0; }

.articles-list .article-post .post-info .post-meta {
  font-size: 12px;
  line-height: 18px;
  color: #A6A1B3; }
  .articles-list .article-post .post-info .post-meta span {
    margin-right: 8px; }
    .articles-list .article-post .post-info .post-meta span.post-catgories {
      margin-right: 0;
      color: #7B728F; }

.articles-list .article-post .post-data {
  padding: 10px !important;
  width: 73px;
  padding-top: 21px !important; }
  .articles-list .article-post .post-data span {
    font-size: 11px;
    color: #A6A1B3;
    text-align: center;
    display: inline-block;
    vertical-align: top; }
    .articles-list .article-post .post-data span .icon {
      display: block;
      height: 25px;
      font-size: 23px;
      margin: 0; }
      .articles-list .article-post .post-data span .icon.icon-view {
        font-size: 20px; }

.archives.collections .sub-header .sub-content {
  padding-left: 35px; }

.archives.collections .articles-list .article-post .post-link {
  padding: 12px 5px 12px 19px; }

.archives.collections .articles-list .article-post .post-info {
  border-left: none;
  padding: 0; }
  .archives.collections .articles-list .article-post .post-info .post-meta span {
    margin-right: 4px; }
  .archives.collections .articles-list .article-post .post-info .post-meta .icon {
    margin: 0;
    font-size: 6px; }

.archives.collections .articles-list .article-post .post-data {
  padding: 0 10px !important; }

.archives.collections .articles-list .article-post p {
  color: #7B728F;
  font-size: 11px;
  margin: 7px 0; }

/* 
    4.4 - Comments
----------------------------------------- */
.comment-write {
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  padding: 20px;
  margin-bottom: 10px; }
  .comment-write.active {
    background: transparent; }
  .comment-write .user-image {
    float: left;
    width: 78px; }
    .comment-write .user-image img {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      border: 1px solid #F5F5F5; }
  .comment-write .comment-section {
    padding: 0 5px 0 83px;
    position: relative; }
    .comment-write .comment-section textarea {
      max-width: 100%;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      border: none;
      background: transparent;
      width: 100%;
      font-weight: normal;
      outline: none;
      transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      color: #211933;
      padding-top: 22px; }
      .comment-write .comment-section textarea:focus {
        padding-top: 0; }
      .comment-write .comment-section textarea::-webkit-input-placeholder {
        color: #211933;
        font-weight: 500; }
      .comment-write .comment-section textarea::-moz-placeholder {
        color: #211933;
        font-weight: 500; }
      .comment-write .comment-section textarea:-ms-input-placeholder {
        color: #211933;
        font-weight: 500; }
      .comment-write .comment-section textarea:-moz-placeholder {
        color: #211933;
        font-weight: 500; }

.comments-list {
  margin: 0 0 40px;
  padding: 0; }
  .comments-list li {
    list-style-type: none;
    padding: 20px 15px 15px;
    border-top: 1px solid #F5F5F5; }
    .comments-list li:first-child {
      border-top: 0px; }
    .comments-list li .author-image {
      float: left;
      width: 65px; }
      .comments-list li .author-image img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #F5F5F5; }
    .comments-list li .comment-post {
      padding: 0 32px 0 65px;
      position: relative; }
      .comments-list li .comment-post h5 {
        font-size: 14px;
        color: #7B728F;
        font-weight: 500;
        margin: 3px 0 0; }
      .comments-list li .comment-post .comment-meta {
        color: #A6A1B3;
        font-size: 12px;
        margin-bottom: 8px; }
      .comments-list li .comment-post p {
        color: #211933;
        font-size: 14px; }
      .comments-list li .comment-post .flag {
        position: absolute;
        top: 0;
        right: 0;
        color: #A6A1B3;
        font-size: 12px; }
        .comments-list li .comment-post .flag a {
          color: #A6A1B3; }
        .comments-list li .comment-post .flag.flag-disabled {
          color: #F5F5F5; }
          .comments-list li .comment-post .flag.flag-disabled a {
            color: #F5F5F5; }

/* -----------------------------------------
	5.0 - Mobile
----------------------------------------- */
.menu-overlay {
  width: 100%;
  height: 130%;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  position: fixed;
  top: 0;
  z-index: 999; }

.mobile-header {
  background: #211933;
  height: 50px; }
  .mobile-header .mobile-logo {
    text-align: center;
    margin: 0 50px; }
    .mobile-header .mobile-logo a {
      display: block;
      line-height: 50px; }
    .mobile-header .mobile-logo img {
      width: 170px; }
  .mobile-header .menu-toggle {
    float: left;
    width: 50px; }
    .mobile-header .menu-toggle a {
      display: block;
      height: 50px; }
  .mobile-header .account-link {
    float: right;
    width: 50px;
    height: 50px;
    position: relative; }
    .mobile-header .account-link .mobile-list-dropdown img {
      border-radius: 30px; }
    .mobile-header .account-link .mobile-list-dropdown .dropdown-toggle {
      padding: 10px; }
    .mobile-header .account-link .mobile-list-dropdown .dropdown-menu {
      top: 50px;
      right: 0;
      left: auto; }
    .mobile-header .account-link .mobile-list-dropdown.open {
      background: #291F42; }

.menu-toggle-icon {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  background: #291F42;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }
  .menu-toggle-icon:focus {
    outline: none; }
  .menu-toggle-icon span {
    display: block;
    position: absolute;
    top: 24px;
    left: 16px;
    right: 16px;
    height: 1px;
    background: #A6A1B3; }
    .menu-toggle-icon span::before, .menu-toggle-icon span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #A6A1B3;
      content: ""; }
    .menu-toggle-icon span::before {
      top: -5px; }
    .menu-toggle-icon span::after {
      bottom: -5px; }

.mobile-new-post {
  position: fixed;
  z-index: 998;
  bottom: 10px;
  right: 10px;
  background: #FFF000;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  opacity: 0.8; }
  .mobile-new-post a {
    color: #5C478F; }
    .mobile-new-post a .icon {
      line-height: 40px;
      font-size: 18px;
      margin: 0;
      display: block; }

/* -----------------------------------------
	6.0 - Mediaqueries
----------------------------------------- */
@media (max-width: 767px) {
  .left-bar {
    left: -240px;
    position: absolute;
    height: auto;
    transition: left .5s ease-in-out;
    min-height: 100%;
    padding-bottom: 200px;
    box-shadow: 0 0 5px #000; }
  .menu-open .left-bar {
    left: 0;
    display: block; }
  .menu-open .site-content {
    position: fixed; }
  .top-bar {
    height: auto; }
    .top-bar .search-form .search-form-input {
      width: 95%; }
    .top-bar .top-nav {
      display: none; }
  .site-content {
    margin-left: 0;
    width: 100%; }
  .sub-header .sub-content {
    width: 100%; }
  .archives .header-left {
    text-align: center;
    margin-bottom: 15px; }
  .archives .sub-header .sub-content {
    padding-left: 62px; }
  .archives.collections .sub-header .sub-content {
    padding-left: 20px; }
  .articles-list {
    margin: 0 -15px; }
  .header-right-actions {
    position: static;
    width: 100%;
    text-align: left;
    margin-top: 35px; }
  .site-header .page-title h1 {
    margin: 19px 0 9px; }
  .user-view .follow-user {
    position: static;
    top: 48px;
    right: 15px;
    margin-left: 94px; }
  .user-view .user-info {
    padding: 0 1px 0 96px; }
  .user-activity-tabs ul {
    margin: 3px 0 20px 48px;
    padding: 0;
    line-height: 30px; } }

@media (max-width: 479px) {
  .related-posts h3 {
    text-align: left;
    padding-right: 12px;
    margin: 20px 0 20px 55px; }
  .related-posts li {
    list-style-type: none;
    display: inline-block;
    width: auto; }
  .default-form input[type=submit] {
    min-width: 100px; } }
