/* 
    4.3 - Archives
----------------------------------------- */
.archive-heading {
    font-size:8px;
    color:$primary-shade4;
    border-bottom:1px solid #f5f5f5;
    padding: 10px 0 0 63px;
    line-height:24px;
}
.articles-list {
    .article-post {
        .post-link {
            display:table;
            width:100%;
            outline:none;
            &> div {
                display:table-cell;
                vertical-align:top;
                padding: 10px 0;
            }
            &:hover, &:focus, &:active {
                background: #F5F5F5;
                text-decoration:none;
                .up-count {
                    background:$primary-color;
                    color:#fff;
                }
            }
        }
        .up-count {
            text-align:center;
            width:54px;
            color:$primary-color;
            font-size:13px;
            padding-top: 20px !important;
            .icon {
                display: block;
                margin: 5px 0 2px;
                font-size: 14px;
            }
        }
        .post-info {
            .post-info-wrapper {
                border-left: 1px solid #EBEBEB;
                padding-left:14px !important;                
            }
            cite {
                font-size:11px;
                font-style:normal;
                display:block;
                color: $primary-shade4;
            }
            h3 {
                line-height:28px;
                color: $primary-shade2;
                font-size:18px;
                font-weight: normal;
                margin:0;
            }
            .post-meta {
                font-size:12px;
                line-height: 18px;
                color: $primary-shade4;
                span {
                    margin-right:8px;
                    &.post-catgories {
                        margin-right:0;
                        color: #7B728F;
                    }
                }
            }
        }
        .post-data {
            padding: 10px !important;
            width: 73px;
            padding-top: 21px !important;           
            span {
                font-size: 11px;
                color: $primary-shade4;
                text-align: center;
                display: inline-block;
                vertical-align: top;
                .icon {
                    display: block;
                    height: 25px;
                    font-size: 23px;
                    margin: 0;
                    &.icon-view {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.archives.collections {
    .sub-header .sub-content {
        padding-left: 35px;
    }
    .articles-list .article-post {
        .post-link {
            padding:12px 5px 12px 19px;
        }
        .post-info {
            border-left: none;
            padding: 0;
            .post-meta {
                span {
                    margin-right:4px;
                }
                .icon {
                    margin:0;
                    font-size:6px;
                }
            }
        }
        .post-data {
            padding: 0 10px !important;
        }
        p {
            color: $text-shade2;
            font-size:11px;
            margin:7px 0;
        }
    }
}
