/* 
    4.4 - Comments
----------------------------------------- */
.comment-write {
    background:$highlighted-sections;
    border: 1px solid $highlighted-sections;
    padding:20px;
    margin-bottom:10px;
    &.active {
        background:transparent;
    }
    .user-image {
        float:left;
        width:78px;
        img {
            width:60px;
            height:60px;
            border-radius:60px;                
            border: 1px solid #F5F5F5;
        }
    }
    .comment-section {
        padding:0 5px 0 83px;
        position:relative;
        textarea {
            max-width:100%;
            font-family:$primary-font;
            font-size:14px;
            border: none;
            background: transparent;
            width: 100%;
            font-weight:normal;
            outline:none;
            transition: all 0.5s ease 0s;
            -moz-transition: all 0.5s ease 0s;
            -webkit-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            color: $text-shade5;
            padding-top:22px;
            &:focus {
                padding-top:0;
            }
            &::-webkit-input-placeholder { 
              color: $text-shade5;
              font-weight:500;
            }
            &::-moz-placeholder { 
              color: $text-shade5;
              font-weight:500;
            }
            &:-ms-input-placeholder { 
              color: $text-shade5;
              font-weight:500;
            }
            &:-moz-placeholder { 
              color: $text-shade5;
              font-weight:500;
            }
        }
    }
}

.comments-list {
    margin:0 0 40px;
    padding:0;
    li {
        list-style-type:none;
        padding:20px 15px 15px;
        border-top:1px solid #F5F5F5;
        &:first-child {
            border-top: 0px;
        }
        .author-image {
            float:left;
            width:65px;
            img {
                width:40px;
                height:40px;
                border-radius:40px;                
                border: 1px solid #F5F5F5;
            }
        }
        .comment-post {
            padding:0 32px 0 65px;
            position:relative;
            h5 {
                font-size: 14px;
                color:$text-shade2;
                font-weight:500;
                margin: 3px 0 0;
            }
            .comment-meta {
                color:$text-shade3;
                font-size:12px;
                margin-bottom: 8px;
            }
            p {
                color:$text-shade5;
                font-size:14px;
            }
            .flag {
                position:absolute;
                top:0;
                right:0;
                color:$text-shade3;
                font-size: 12px;
                a {
                    color:$text-shade3;
                }
                &.flag-disabled {
                    color:#F5F5F5;
                    a {
                        color:#F5F5F5;
                    }
                }
            }
        }
    }
}