/* 
    1.3 - Global 
----------------------------------------- */
html {
    position:relative;
    min-height: 100%;
}
body {
    font-family:$primary-font;
    min-height:100%;
    font-weight:400;
}
a:hover, a:focus, a:active {
    text-decoration:none;
}
.icon {
    margin-right:8px;
}
.primary-button {
    background:$secd-color;
    color:$text-shade4;
    font-size: 14px;
    font-weight: 400;
    line-height:40px;
    border-bottom: 1px solid $text-shade4;
    min-width:160px;
    padding: 0 20px;
    text-align:center;
    display:inline-block;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 2px solid $secd-color;
    border-left: 2px solid $secd-color;
    margin:25px;
    border-top: none;
    outline:none;
}
.follow-button {
    min-width:105px;
    opacity:.9;
    background:#f5f5f5;
    text-align:center;
    line-height:40px;
    font-size:11px;
    display: inline-block;
    color:$text-shade4;
    .icon {
        font-size:14px;
        &:before {
            line-height:40px;
                display: inline-block;
    vertical-align: middle;
        }
    }
}
.align-center {
    text-align:center;
}
.align-right {
    text-align: right;
}
.site-content {
    margin-left:228px;
    padding-bottom:40px;
    position:relative;
	.page-content {
    	padding-top:25px;
	}
	.post-contents {
	    margin: 20px 0;
	    font-weight:normal;
	    p {
            font-size: 15px;
            line-height: 25px;
            color: #555;
	    }
	}
}

.left-bar .navigation ul li a,
.article-post .post-link {
        transition: all .3s ease-in-out; 
}
.left-bar .navigation ul li a:hover,
.article-post .post-link:hover,
.article-post .up-count {
        transition: all .3s ease-in-out; 
}