/* 
    3.5 - Header: Page dependent rewrites 
        [archive, post-view, form-page, user-view]
----------------------------------------- */
.archives {
    .site-header {
        border-top: 1px solid $highlighted-sections;
        .header-left {
            padding:0;
        }
    }
    .sub-header {
        .sub-content {
            padding-left: 77px;
        }
    }
}

.post-view {
    .site-header {
        padding:0;
        background-size:cover;
        background-position: center center;
        background-repeat:no-repeat;
        .container-fluid {
            padding: 15px 30px;
            background: transparent;
            background: rgba($primary-shade2, .5);
            min-height: 200px;
        }
    }
    .page-title {
        .post-meta {
            font-size:13px;
            margin-top:43px;
            color:#f5f5f5;
            span {
                margin-right:2px;
            }
            .icon {
                margin-right:0;
                font-size: 7px;
                color:$text-shade3;
            }
            .shared {
                color:$text-shade3;
            }
        }
        h1 {
            color: #fff;
            margin: 10px 0 10px;
            text-align: left;
            text-transform: initial;
            font-weight: 500;
        }
    }
}

.form-page {
    .site-header .back-button {
        color: $primary-shade1;
    }
}

.user-view {
    .site-header {
        background-color:$primary-shade2;
    } 
    .user-profile {
        margin: 25px 0 26px;
    }
    .follow-user {
        position: absolute;
        top: 48px;
        right: 15px;
    }
    .user-image {
        float:left;
        width:96px;
        position:relative;
        .user-followings {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            background: #fff;
            top: 47px;
            right: 18px;
            line-height: 31px;
            text-align: center;
            font-size: 11px;
            color:$text-shade5;
        }
        img {
            width:78px;
            height:78px;
            border-radius:78px;                
            border:2px solid #F5F5F5;
        }
    }
    .user-info {
        padding:0 125px 0 96px;
        h1 {
            color: #fff;
            margin: 5px 0 5px;
            text-align: left;
            text-transform: initial;
            font-weight: 500;
        }
        .user-meta {
            font-size:11px;
            font-weight:normal;
            .user-followed-by{
                color:#fff;
            }
            .user-following {
                color:$text-shade3;
            }
            .dot-sap .icon {
                color:$text-shade3;
                font-size:8px;
                margin: 0 7px;
            }
        }
    }
    .header-right-actions {
        li a {
            background:transparent;
            color:#fff;
            border:1px solid $text-shade2;
            &.save-icon {
                background:$text-shade2;
            }
        }
    }
}