/* -----------------------------------------
	3.0 - Header
----------------------------------------- */

/* 
    3.1 - Top Head (Search and links)
----------------------------------------- */
.top-bar {
    line-height:49px;
    height: 49px;
    font-size:14px;
    .search-form {
        .search-form-input {
            font-family: $primary-font;
            border: none;
            outline: none;
            line-height: 49px;
            margin: 0 0 0 14px;
            width: 80%;
            color: #B3B3B3;
            padding: 0 8px;
            font-size: 13px;
            font-weight: normal;
        }
        .search-icon {
            margin:0;
            background: url(../images/svg/search.svg) no-repeat left center;
        }
    }
    .top-nav {
        padding-right: 0;
        text-align:right;
        font-size:13px;
        a {
            display:inline-block;
            color:$primary-color;
            padding:0 14px;
            &:hover {
                text-decoration:none;
            }
            &.new-post-link {
                padding:0 20px;
                background: $secd-color;
            }
        }
    }
    .account-info{
        display:inline-block;
        .dropdown.list-dropdown {
            .dropdown-toggle {
                padding: 13px 13px 12px 21px;
                margin-right: -2px;
            }
            .dropdown-menu {
                top:40px;
                li a {
                    display:block;
                }
            }
        }
    }
}

/* 
    3.2 - Main Header (Page Headings)
----------------------------------------- */
.site-header {
    padding: 15px;
    position:relative;
    border-bottom: 1px solid $highlighted-sections;
    .back-button {
        color:#fff;
        font-size:14px;
        .icon {
            font-size: 10px;
        }
    }
    .header-right {
        text-align:right;
        position:static;
    }
    .page-title h1 {
        text-transform:uppercase;
        text-align:center;
        color: $primary-shade4;
        font-size:28px;
        font-weight: normal;
        margin: 9px 0;
    }
}


/* 
    3.3 - Sub Header
----------------------------------------- */
.sub-header {
    background: $highlighted-sections;
    line-height: 45px;
    color: $primary-color;
    font-size:17px;
    .sub-content {
        display:table;
        position:relative;
        .sub-head-actions {
            position: absolute;
            top: 0;
            right: 15px;
            a {
                font-size:8px;
                color:#fff;
                background:$text-shade2;
                display:block;
                width:40px;
                height:40px;
                text-align:center;
                padding: 5px 0;
                line-height:8px;
                .icon {
                    font-size: 20px;
                    margin-right: 0;
                    display:block;
                }
            }
        }
        .post-meta {
            display:table-cell;
            font-size:13px;
            vertical-align: top;
            line-height: 40px;
            padding-top: 4px;
            .post-ref {
                color:$text-shade4;
                .icon {
                    margin-right:4px;
                    font-size: 10px;
                }
                a {
                   color:$text-shade4; 
                }
            }
            .dot-sap {
                font-size:5px;
                color:$text-shade3;
                .icon {
                    margin-right:0;
                }
            }
            .post-tags {
                color:$text-shade3;
                margin-right: 3px;
                a {
                    color:$text-shade3;
                    margin-right:3px;
                }
            }
            span {
                margin-right:3px;
            }
        }
        .post-stats {
            display:table-cell;
            vertical-align: top;
            margin: 0;
            padding: 0;
            text-align:right;
            li {
                list-style-type:none;
                display:inline-block;
                margin:4px 0;
                padding: 0 8px;
                border-left: 1px solid #E0E0E0;
                &:last-child {
                    border-right: 1px solid #E0E0E0;
                }
                .stat {
                    line-height:32px;
                    display:block;
                    font-size:12px;
                    color:$text-shade3;                                    
                    .icon {
                        margin-right:0;
                        display:inline-block;
                        vertical-align:top;
                        font-size:23px;
                        &.icon-view {
                            font-size:20px;
                        }
                        &:before {
                            line-height:32px;
                        }
                        &.icon-flag {
                            font-size:13px;
                            padding: 0px 5px;
                        }
                    }
                    span {
                        line-height:32px;
                        display:inline-block;
                        vertical-align:top;
                    }
                }
            }
        }
    }
    a {
        color: $primary-shade4;
        &:hover, &.active {
            color: $primary-color;        
        }
    }
    .tabs-lists {
        list-style-type:none;
        margin:0;
        padding:0;
        li {
            padding-right:20px;
            list-style-type:none;
            display:inline-block;
        }
    }
    .link-list {
        list-style-type:none;
        margin:0;
        padding:4px 0;
        display:table;
        width:100%;
        li {
            padding-right:20px;
            list-style-type:none;
            text-align:center;
            display:table-cell;
            line-height: 32px;
            font-weight:normal;
            border-left:1px solid #E0E0E0;
            &:last-child {
                border-right:1px solid #E0E0E0;  
            }
            a {
                display:block;
            }
        }
    }
}


/* 
    3.4.1 - Module: Dropdown
----------------------------------------- */
.dropdown.list-dropdown {
    display: inline-block;
    .dropdown-toggle {
        font-size:14px;
        border:none;
        border-radius: 0;         
        color:$text-shade2;
        padding: 8px 3px 8px 21px;
        background: transparent;
        outline:none;
        &:hover, &:active, &:focus, {
            background:transparent;
            box-shadow:none;
        }
        .icon  {
            font-size: 7px;
            margin: 0 7px;
            color:$primary-shade4;
        }
    }
    &.open .dropdown-toggle {
        box-shadow: 0 1px 3px rgba(0,0,0,.175);
        color:$primary-shade4;
        .icon-arrow-down:before {
            content:"\62";

        }
    }
    .dropdown-menu {
        border: none;
        box-shadow: 0 2px 3px rgba(0,0,0,.175);
        top: 31px;
        margin:0;
        border-radius: 0;
        color:$primary-color;
        font-size:13px;
        padding:0;
        min-width:165px;
        li {
            a {
                color:$primary-color;
                padding: 8px 20px;
                &:hover {
                    color:#fff;
                    background:$primary-color;
                }
            }
        }            
    }
}

/* 
    3.4.2 - Module: Buttons on right 
            [Up, Add Share, Cancel, Save]
----------------------------------------- */
.header-right-actions {
    margin:0;
    padding:0;
    position:absolute;
    bottom:10px;
    right: 0;
    width: 25%;
    text-align: center;
    li {
        list-style-type:none;
        display:inline-block;
        vertical-align:top;
        margin-right:4px;
        a {
            font-size:11px;
            color:$primary-color;
            background:#fff;
            display:block;
            width:45px;
            height:45px;
            text-align:center;
            padding: 5px 0;
            line-height:16px;
            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
            .icon {
                font-size: 20px;
                margin-right: 0;
                display:block;
                &.icon-close {
                    font-size: 10px;
                    margin: 4px 0 5px;
                }
                &.icon-save {
                    font-size: 14px;
                    margin: 3px 0 3px;   
                }
            }
        }
    }
}