/* 
    1.2 - Font Icons 
----------------------------------------- */

@font-face {
    font-family: 'font-icons';
    src:    url('../fonts/font-icons.eot?3jfru0');
    src:    url('../fonts/font-icons.eot?3jfru0#iefix') format('embedded-opentype'),
        url('../fonts/font-icons.ttf?3jfru0') format('truetype'),
        url('../fonts/font-icons.woff?3jfru0') format('woff'),
        url('../fonts/font-icons.svg?3jfru0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'font-icons' !important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dot:before {
    content: "\e901";
}
.icon-archive:before {
    content: "\1f304";
}
.icon-arrow-down:before {
    content: "\e900";
}
.icon-arrow-up2:before {
    content: "\62";
}
.icon-arrow-left:before {
    content: "\e902";
}
.icon-arrow-right:before {
    content: "\e903";
}
.icon-arrow-up:before {
    content: "\e904";
}
.icon-close:before {
    content: "\e905";
}
.icon-collections:before {
    content: "\e906";
}
.icon-comments:before {
    content: "\e907";
}
.icon-featured:before {
    content: "\e908";
}
.icon-flag:before {
    content: "\e909";
}
.icon-follow:before {
    content: "\e90a";
}
.icon-latest:before {
    content: "\e90b";
}
.icon-new-post:before {
    content: "\e90c";
}
.icon-news:before {
    content: "\e90d";
}
.icon-questions:before {
    content: "\e90e";
}
.icon-save:before {
    content: "\e90f";
}
.icon-search:before {
    content: "\e910";
}
.icon-share:before {
    content: "\e911";
}
.icon-trending:before {
    content: "\e912";
}
.icon-view:before {
    content: "\e913";
}

