/* -----------------------------------------
	6.0 - Mediaqueries
----------------------------------------- */
@media ( max-width: $screen-xs-max ) {
    .left-bar { 
    	left:-240px;
    	position:absolute;
    	height:auto;
    	transition: left .5s ease-in-out; 
    	min-height: 100%;
    	padding-bottom: 200px;
    	box-shadow: 0 0 5px #000;
    }    
    .menu-open {
    	.left-bar { 
    		left:0;
    		display:block;
    	}
    	.site-content {
    		position:fixed;
    	}
    }

    .top-bar {
    	height: auto;
    	.search-form .search-form-input {
    	 	width:95%;
    	}
    	.top-nav {
    		display:none;
    	}
	}
    .site-content {
    	margin-left:0;
    	width:100%;
    }
    .sub-header .sub-content {
    	width:100%;
    }
    .archives {
    	.header-left {
	    	text-align:center;
	    	margin-bottom:15px;
	    }
    	.sub-header .sub-content {
    		padding-left: 62px;
		}
		&.collections .sub-header .sub-content {
		    padding-left: 20px;
		}
    }
    .articles-list {
    	margin: 0 -15px;
    }
    .header-right-actions {
    	position:static;
    	width: 100%;
	    text-align: left;
	    margin-top: 35px;
    }
    .site-header .page-title h1 {
    	margin:19px 0 9px;
    }
    .user-view {
    	.follow-user {
		    position: static;
		    top: 48px;
		    right: 15px;
		    margin-left: 94px;
		}
		.user-info {
    		padding: 0 1px 0 96px;
    	}
	}
	.user-activity-tabs ul {
	    margin: 3px 0 20px 48px;
	    padding: 0;
	    line-height: 30px;
	}
    
}

@media ( max-width: $screen-xxs-max ) { 
	.related-posts {
		h3 {
			text-align: left;
		    padding-right: 12px;
		    margin: 20px 0 20px 55px;		
		}
		li {
		    list-style-type: none;
		    display: inline-block;
		    width:auto;
		}
	}
	.default-form { 
		input[type=submit] {
			min-width:100px;
		}
	}
}