/* -----------------------------------------
	5.0 - Mobile
----------------------------------------- */
.menu-overlay {
	width: 100%;
    height: 130%;
    background: rgba(0,0,0,.8);
    display: block;
    position: fixed;
    top: 0;
    z-index: 999;
}
.mobile-header {
	background:$primary-shade2;
	height:50px;
	.mobile-logo {
		text-align:center;
		margin: 0 50px;
		a {
			display:block;
			line-height:50px;
		}
		img {
			width: 170px;
		}
	}
	.menu-toggle {
		float:left;
		width:50px;
		a {
			display:block;
			height:50px;
		}
	}
	.account-link {
		float:right;
		width:50px;
		height:50px;
		position:relative;	
		.mobile-list-dropdown {
			img {
				border-radius:30px;
			}
			.dropdown-toggle { 
				padding:10px;
			}
			.dropdown-menu { 
				top:50px;
				right:0;
				left:auto;
			}
			&.open {
				background:$primary-shade1;
			}
		}
	}
}
.menu-toggle-icon {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    background:$primary-shade1;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    &:focus {
        outline: none;
    }
    span {
        display: block;
        position: absolute;
        top: 24px;
        left: 16px;
        right: 16px;
        height: 1px;
        background: $primary-shade4;
        &::before,
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $primary-shade4;
            content: "";
        }
        &::before {
            top: -5px;
        }
        &::after {
            bottom: -5px;
        }
    }
}
.mobile-new-post {
    position: fixed;
    z-index: 998;
    bottom: 10px;
    right: 10px;
    background: $secd-color;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    opacity:0.8;
    a {
        color:$text-shade4;
        .icon {
            line-height:40px;
            font-size:18px;
            margin:0;
            display:block;
        }
    }
}