
/* -----------------------------------------
	04. Modules
----------------------------------------- */
/* 
    4.1 - Forms
----------------------------------------- */

.default-form {
    input[type="text"],
    input[type="email"],
    input[type="password"], 
    input[type="url"], 
    textarea  {
        display: block;
        width: 100%;
        padding: 8px 10px;
        line-height: 20px;
        border: 2px solid $primary-shade4;
        outline:none;
        font-family:$primary-font;
        font-size:14px;
        font-weight:normal;
    }
    label {
        font-weight: bold;
        font-size: 8px;
        text-transform: uppercase;
        margin: 0 0 7px;
    }
    input[type=submit] {
        background:#F5F5F5;
        font-size:11px;
        text-transform:uppercase;
        font-family:$primary-font;
        color:$text-shade3;
        line-height:40px;
        text-align:center;
        padding:0 20px;
        border:none;
        outline:none;
        min-width:160px;
    }
    .submit-row {
        margin:40px 0;
        &.row {
            margin: 40px -15px;
        }
        p {
            margin-bottom: 0;
        }
        a {
            font-size:11px;
            color:$text-shade4;
        }
    }
    .form-notes {
        color:$primary-shade4;
        font-size:8px;
        a {
            color:$text-shade4;
        }
    }
}

/* 
    4.2 - Related Posts
----------------------------------------- */
.related-posts {
    background:$highlighted-sections;
    padding: 15px 15px 35px;
    h3 {
        font-size: 16px;
        color: $primary-color;
        text-align: center;
        padding-right: 12px;
        margin: 5px 0 10px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
.related-posts-list {
    margin:0;
    padding:0;
    li {
        list-style-type:none;
        display:inline-block;
        width:49%;
        vertical-align:top;
        margin: 12px 0;
        .user-image {
            float:left;
            width:55px;
            img {
                width: 45px;
                height: 45px;
                border-radius: 40px;
                border: 2px solid #fbfbfb;
            }
        }
        .post-info {
            padding:0 20px 0 55px;
            line-height: 20px;
            .post-author {
                font-size:11px;
                color:$text-shade3;
            }
            h4 {
                font-weight:normal;
                font-size:15px;
                color:$text-shade5;
                margin:0;
            }
        }
        a:hover {
            .post-info {
                h4 {
                    color: $primary-color;
                }
            }
        }
    }
}

.user-activity-tabs {
    ul {
        margin:10px 0 35px 63px;
        padding:0;
        li {
            display:inline-block;
            list-style-type:none;
            color:$text-shade3;
            font-weight:normal;
            position:relative;
            margin-right: 15px;
            a {
                font-size:14px;
                color:$text-shade3;
                &.active, &:hover {
                    color:$text-shade4;
                }
                .activity-count {
                    font-size:8px;
                }
            }
            
        }
    }
}