/* -----------------------------------------
	2.0 - Navigation
----------------------------------------- */
.left-bar {
    position:relative;
    width:228px;
    position:fixed;
    left:0;
    top:0;
    z-index:1000;
    height:100%;
    background: $primary-shade2;
    .branding a {
        padding: 10px 40px;
        display:block;
    }
    .navigation {
        ul {
            li {
                font-size:13px;
                &:nth-child(-n+3) {
                    background:$primary-shade1;
                }
                a {
                    padding: 12px 40px;
                    line-height: 20px;
                    color:$text-shade3;
                    .icon {
                        font-size:18px;
                        position: relative;
                        top: 3px;
                    }
                    &:hover, &:focus, &.active {
                        background:$primary-color;
                        color:#fff;
                        outline:none;
                    }
                }
                .icon {
                    margin: 0 10px 0 0;
                }

            }
        }
    }
}

.site-footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    .social-wrapper {
        display:table;
        width: 100%;
        padding: 20px 40px;
    }
    .social-profiles {
        padding: 0 40px;
        display:table-row;
        margin:0;
        li {
            display:table-cell;
            text-align:center;
            &:first-child {
                text-align:left;
            }
            &:last-child {
                text-align:right;
            }
        }
    }
    .site-links {
        padding: 10px 40px 0;
        margin: 0 0 -9px 0;
        text-align: justify;
        background:$primary-shade1;
        &::after {
            display: inline-block;
            content: "\00a0";
            width: 100%;
            height: 15px;
            overflow: hidden;
            line-height: 15px
        }
        li {
            list-style-type:none;
            display:inline;
            line-height:16px;
            a {
                display:inline-block;
                font-size:10px;
                color:$primary-color;
            }
        }
    }
}