/* -----------------------------------------
	1.0 - General 
----------------------------------------- */

/* 
	1.1 - Sass Variables 
----------------------------------------- */

$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$screen-xxs-max: ($screen-xs-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$primary-font: 'Roboto', sans-serif;

$primary-color : #5C478F; /* blue */
$primary-shade1 : #291F42;
$primary-shade2 : #211933;
$primary-shade4 : #A6A1B3;

$text-color : #000000;
$text-shade2 : #7B728F;
$text-shade3 : $primary-shade4;
$text-shade4 : $primary-color;
$text-shade5 : $primary-shade2;

$secd-color: #FFF000; /* {Yello} - buttons  */

$highlighted-sections: #F5F5F5; /* sub-header, post-author, related posts etc */